.contactData {
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    width: 80%;
}

.input {
    display: block;
}

@media (min-width: 600px) {
    .contactData {
        width: 500px;
    }
}